@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
p, h1, h2{
    font-family: 'cwTeXYen', sans-serif;
    font-weight: 300;
}

/* Sweep To Right */
a.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
   background: #0059ff;
  padding: 1.2em 1em;
  font-size: 1em;
  color: #fff !important;
  border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}
a.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#004ddb;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}
a.hvr-sweep-to-right:hover, a.hvr-sweep-to-right:focus, a.hvr-sweep-to-right:active {
  color: white;
  cursor: pointer;
}
a.hvr-sweep-to-right:hover:before, a.hvr-sweep-to-right:focus:before, a.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.bg-text {
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  width: 100%;
}
.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.pdx-10{
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  iframe {
    width: 100%;
  }
  .pdx-10{
    padding-left: 5%;
    padding-right: 5%;
  }
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}